/* CSS Styling adapted from Texas Votes 
(https://gitlab.com/forbesye/fitsbits/-/blob/master/front-end/src/views/About/*/
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-content: stretch;
	box-shadow: 2px 2px 5px rgba(150,155,161,255);
	border-radius: 12px;
	text-align: center;
    background-color:  rgba(48,49,52,255);
	height: 100%;
}

.StatsCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-content: stretch;
	box-shadow: 2px 2px 5px rgba(150,155,161,255);
	border-radius: 12px;
	text-align: center;
    background-color: rgba(48,49,52,255);
	height: 100%;
}

.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	font-weight: bold;
	color: rgba(232,234,237,255);
}


.circle_headshot {
	object-fit: cover !important;
	width: 200px !important;
	height: 200px !important;
	border-radius: 50% !important;
	margin: 25px !important;
	margin-bottom: 0px !important;
	display: block !important;
	box-shadow: 2px 2px 5px rgba(150,155,161,255);
}

.tool_image {
	max-width: 200px;
	max-height: 200px;
	display: flex !important;
	align-self: center;
	align-content: center;
	
}

.cardCover {
	width: 250px !important;
	height: 250px !important;
	margin: 25px !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.meta {
	flex: 1;
	color: rgba(232,234,237,255);
}
.meta_tool {
	flex: 1;
	margin-left: 20px;
	margin-right: 20px;
	color: rgba(138,180,247,255);
}

.gitStats {
	flex: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	width: 100%;
	border-top: solid 1px #f0f0f0;
	border-bottom: solid 1px #f0f0f0;
	margin-top: 16px;
}

.gitStat {
	margin-top: 12px;
	margin-bottom: 12px;
	flex: 1;
	text-transform: capitalize;
	color: rgba(0, 0, 0, 0.45);
	border-left: solid 1px #f0f0f0;
	font-size: 16px;
    background-color: rgba(48,49,52,255);
}

.gitStat:nth-child(1) {
	border-left: none;
}

a {
	text-decoration: none; 
	color: rgba(138,180,247,255);
}
:not(a, h3) {
	color: rgba(232,234,237,255);
}

