/* CSS Styling adapted from Texas Votes 
(https://gitlab.com/forbesye/fitsbits/-/blob/master/front-end/src/views/About/*/
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-content: stretch;
	box-shadow: 2px 2px 5px rgba(150,155,161,255);
	border-radius: 12px;
	text-align: center;
    background-color:  rgba(48,49,52,255);
	height: 100%;
	max-width: 1000px;
	margin: 10px auto;
    overflow: "hidden";
}


.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	font-weight: bold;
	color: rgba(232,234,237,255);
}



.tool_image {
	max-width: 200px;
	max-height: 200px;
	display: flex !important;
	align-self: center;
	align-content: center;
}

.charity_image {
	width: 500px;
	height: 325px;
	display: flex !important;
	align-self: center;
	align-content: center;
	margin-top: 20px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
	margin-bottom: 20px !important;
}

.news_image {
	width: 375px;
	height: 244px;
	display: flex !important;
	align-self: center;
	align-content: center;
	margin-top: 20px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
	margin-bottom: 20px !important;
}

.cardCover {
	width: 250px !important;
	height: 250px !important;
	margin: 25px !important;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.meta {
	flex: 1;
}

