/* CSS Styling adapted from Texas Votes 
(https://gitlab.com/forbesye/fitsbits/-/blob/master/front-end/src/views/About/*/
.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	font-weight: bold;
	color: rgba(232,234,237,255);
}
body {
	background-color: rgba(32,33,36,255);
}

.subtitle {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 23m;
	font-weight: bold;
	color: rgba(232,234,237,255);
}

.text {
	text-align:left;
	color: rgba(232,234,237,255);
}

.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 16px auto;
}

.description {
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}


.loading {
	margin-top: 10px !important;
	margin-left: 50% !important;
	margin-right: -50% !important;
	transform: translate(-50%, -50%) !important;
}


