/* CSS Styling adapted from Texas Votes 
(https://gitlab.com/forbesye/fitsbits/-/blob/master/front-end/src/views/About/*/
.title {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	font-weight: bold;
	color: rgba(232,234,237,255);
}
body {
	background-color: rgba(32,33,36,255);
}

.subtitle {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 23m;
	font-weight: bold;
	color: rgba(232,234,237,255)
}

.text {
	text-align:center;
	color: rgba(232,234,237,255);
}

.wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 16px auto;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.gridLayout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 32px;
	margin: 32px auto;
}

.teamStats{
	grid-template-rows: repeat(auto-fit, minmax(450px, 1fr));
}


.devTools {
	grid-template-rows: repeat(auto-fit, minmax(390px, 1fr));
}

.logo {
	width: 300px;
	height: 300px;
	margin: 16px;
	text-align: center;
	background-color: white;
	padding: 50px;
}

