
/* Splash */
.splash {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("./components/splash.jpeg");
	height: 100%;
	background-size: cover;
	background-position-x: 70%;
	background-position-y: 10%;
	background-blend-mode: color;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: -64px;
}

.color_nav {
    background-color: #02093b;
}

body {
	background-color: rgba(32,33,36,255);
}

.color_button {
    background-color: rgba(48,49,52,255);
	border-color: rgba(48,49,52,255);
	/*: 2px 2px 5px rgba(150,155,161,255);*/
	width: 200px;
}

.color_button:hover {
	background-color: rgba(150,155,161,255);
	border-color: rgba(150,155,161,255);
}

.color_highlight {
	background-color:  #02093b;
}

.title {
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	font-weight: bold;  
    color: rgba(232,234,237,255);
}

.main_title {
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 6em;
	font-weight: bold;  
    color: rgba(232,234,237,255);
}


.nav_button {
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 3em;
	font-weight: bold;  
	color:#02093b;
}

.splashContent {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	margin: 64px auto 0;
	width: 90%;
	max-width: 1200px;
}

.wrapper {
	width: 90%;
	max-width: 1700px;
	margin: 16px auto;
}

.search_container {
	width: 100%;
	max-width: 850px;
	margin: 16px auto;
}


.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1700px;
	align-items: center;
	margin: 16px auto;
}

.headerText {
	text-align: center;
	width: 90%;
	margin: auto;
	flex: 1;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-content: stretch;
	border-radius: 12px;
	text-align: center;
    background-color: rgba(48,49,52,255);
	height: 100%;
	max-width: 1000px;
	margin: 10px auto;
    overflow: "hidden";
}

* {
	color: rgba(232,234,237,255);
}
